#----------------------------- rTorrent v0.9.6/0.13.6 -------------------------------#
#
#------------------------------------------------------------------------------------+
# Peer (Пир) — равноправный участник, участвующий в раздаче.                         |
#------------------------------------------------------------------------------------+
# Минимальное и максимальное число пиров на 1 торрент.
# Параметр min_peers позволяет rTorrent использовать более агрессивное поведение
# до тех пор, пока он не найдет это количество узлов, и не перестанет долбиться дo
# победного. Параметр max_peers - наоборт. Но не забывайте что эти узлы могут так же
# пропадать или быть забанены. Поэтому 100 пиров это норма. (с)
throttle.min_peers.normal.set = 1
throttle.max_peers.normal.set = 100

# Обмен пирами (for torrents not marked private)
protocol.pex.set = yes

#------------------------------------------------------------------------------------+
# Leech (Лич) — это тот же пир, не имеющий "пока" всех частей, т.е. продолжающий     |
# скачивание, либо уже закончивший скачивание выбранных частей раздачи.              |
#------------------------------------------------------------------------------------+

#------------------------------------------------------------------------------------+
# Seeder (Сид) — участник обмена, имеющий уже все файлы раздачи.                     |
#------------------------------------------------------------------------------------+
# Минимальное и максимальное количество пиров в раздаваемом (сидируемом) торренте.
# (по умолчанию -1, т.е. неограничено)
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1

# Максимальная скорость загрузки (download) и отдачи (upload) всех файлов.
# 0 - неограничено.
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0

# Каталог для сохранения закачек или откуда будут сидироваться торренты.
directory.default.set = /mnt16/

# Резервирование места под файлы. (Сокращает фрагментацию файлов на файловой системе)
# Рекомендуется для файловых систем: XFS, EXT4 и BTRFS
system.file.allocate.set = yes

# Остановка автоматических закачек при нехватки дискового пространства. У меня 16 Мб.
schedule = low_diskspace,5,60,close_low_diskspace=16M

# Каталог куда будет сохраняться состояние торрентов, т.е их сессии.
session.path.set = /mnt16/session/

# rtorrent каждые 5 секунд проверяет этот каталог на новые *.torrent файлы и если
# они есть то ставит их на закачку.
schedule = watch_directory,5,5,load.start=/mnt16/torrent_files/*.torrent

# Перемещает загруженный файл в другую папку после окончания закачки
#on_finished = move_complete,"execute=mv,-u,$d.base_path=,/mnt16/torrent_fully_finished/ ;d.directory.set=/mnt16/torrent_fully_finished/"

# Отправка сообщений почтой когда завершится загрузка. Скрипт написан ниже как пример.
# #!/bin/sh
# 
# echo "$(date '+Дата скачки: %m.%d.%Y%nВремя скачки: %H:%M:%S')\nСкачано: $1" | mail -s "Download completed!" your_personal@email.com
method.set_key = event.download.finished,notify_me,"execute=/root/rtorrent_mail.sh,$d.name="

# Номер порта (или нескольких портов) который открывает клиент для обмена данными.
network.port_range.set = 40890-40890

# Случайный выбор порта для обмена данными. В данном случае он включен.
network.port_random.set = yes

# Проверять хэш торрента после закачки
pieces.hash.on_completion.set = yes

# Сохранять сессию
session_save = no

# Указанно: "Принимать зашифрованные входящие соединения", "устанавливать незашифрованные исходящие соединения".
# Если возвращает ошибку, повторять с шифрованием, предпочитать открытый текст после установления зашифрованного соединения.
protocol.encryption.set = allow_incoming,enable_retry,prefer_plaintext

# Использовать UDP
trackers.use_udp.set = yes

# Разрешает работу DHT для безтрекерных торрентов или для случаев, когда все ретрекеры лежат (не работают).
# Может принимать значения "disable" (для полного отключения DHT), "off" (не стартует с DHT), 
# "auto" (Включает DHT при возможности), или "on" (принудительно включает DHT).
# Значение DHT по умолчанию "off". Для правильной работы DHT каталог сеансов "session" должен быть определен.
dht.mode.set = auto

# UDP порт, используемый DHT.
dht.port.set = 6881
